<head>
	<h1> Entire task viewer </h1>
	<h2> <%=current_user.first_name%><%=current_user.last_name%> <%=current_user.email%> </h2>
	<% @managelist.each do |b| %>
	<%= link_to 'Individual', { controller: :task, action: :show, team: b.team_id } %>
	<% end %>
</head>

<body>
	<% @managelist.each_with_index do |t| %>
		<li> <%=t.taskname%> <%=t.duedate%> </li>
	<% end %>
	<br>
	<li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>
	
	<!--<script src="/assets/tasklist_index.js"></script>-->
	<script>
	
	    var labelString = new Array();
		var dataString = new Array();
		var barChartData = first(labelString, dataString);
		
		<% @managelistdesc.each_with_index do |t| %>
    		var displayday = <%=(t.duedate - Date.today).to_i %>
    		if(displayday >= 0){
				barChartData.labels.push("<%=t.taskname%>");
	    		dataString.push(displayday);
    		}
		<% end %>

	  	onld(barChartData,displayday);
	</script>
	
	<canvas id="canvas" width="auto" height="auto"></canvas>

</body>